<%= form_tag("/", method: :post, id: "new_need", remote: true) do %>
  <div class="field" style='float:left'>
    <%= text_field_tag :text, "", options = {size: "30", id: "need_text"}%>
  </div>
  <div class="actions">
    <%= submit_tag "Добавить" %>
  </div>
<% end %>
