// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{ height:100%; margin: 0; padding: 0;}

body{
    margin-top:-18px;
    background-color:#dadada;
}

#main {
    width:800px;
    margin:auto;
    margin-bottom:-80px;
    margin-top:0px;
    min-height:100%;

    h1 {
        padding-top:10px;
        text-align:center;
        color:#444;
    }
}

#new_need{
    margin-left: 143px;
    margin-bottom:10px;
    width:616px;

    #add{
        display: block;
        float: right;
        height:45px;
        width:45px;
        background:image-url("add.png") no-repeat;
        margin-left:5px;
    }
    #add:hover{
        background:image-url("add_active.png") no-repeat;
    }

    textarea{
        background-color:#f9f9fc;
        resize: none;
        overflow:hidden;
        width: 549px;
        font-family: verdana;
        font-size:1.2em;
        padding: 5px 4px 0 4px;
        line-height:1.1em;
        border-radius:0px;
        border: 0;
        min-height:40px;
        box-shadow: inset 0 0 6px #c8c8c8;
    }
    textarea:focus{
        background-color:white;
        outline: none;
        box-shadow: inset 0 0 6px #9ecaed;
    }
}

#needs{
    .completed{
        .text{
            color:#aaa;
            text-decoration: line-through;
        }
        .complete_need{
            background:image-url("ready.png") no-repeat !important;
        }
    }
    .item:hover{
        background-color:#f9f9fc;
    }
    .item{
        padding-left:10px;
        padding-right:10px;
        overflow: hidden;

        .info, .text {
            display: block;
            float: left;
            margin-right: 10px;
            min-height:39px;
        }
        .info, .text, .controls{
            min-height:25px;
            padding-top: 7px;
        }
        .info {
            color: gray;
            vertical-align:top;
            clear: right;
            
        }
        .text{
            font-size:1.2em;
            max-width:553px;
            min-height:32px;
            height:100%;
            width:100%;
            word-wrap:break-word;
            padding-left: 4px;
            white-space:pre-wrap;
            padding-bottom: 7px;
            display:block;
            white-space:pre-wrap;
            margin-right:0px;
        }
        .text:focus{
            background-color:white;
            outline: none;
            box-shadow: inset 0 0 6px #9ecaed;
        }
        .controls{
            float:right;
            padding-top:7px;

            a{
                display:block;
                float:right;
                width:35px;
                height:35px;
            }
            .delete_need{
                background:image-url("delete.png") no-repeat;
            }
            .delete_need:hover{
                background:image-url("delete_active.png") no-repeat;
            }
            .complete_need{
                background:image-url("not_ready.png") no-repeat;
            }
            .complete_need:hover{
                background:image-url("ready_active.png") no-repeat;
            }
        }
        .shadow{
            display:none;
        }
    }
}

textarea{
    
}


#buffer{
    height: 75px;
}

footer{
    height:75px;
    margin-top:-75px;
    text-align:center;

    p{
        color:gray;
        margin: 1px;
    }
}